
<%= form_with model: newspaper do |form| %>
  <div>
    <%= form.label :newspaperName %><br>
    <%= form.text_field :newspaperName %>
    <% newspaper.errors.full_messages_for(:newspaperName).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :newspaperUrl %><br>
    <%= form.text_field :newspaperUrl %>
    <% newspaper.errors.full_messages_for(:newspaperUrl).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :newspaperCssSelector %><br>
    <%= form.text_field :newspaperCssSelector %>
    <% newspaper.errors.full_messages_for(:newspaperCssSelector).each do |message| %>
    <div><%= message %>
  </div>
    <% end %>
    
    <div>
    <%= form.label :newspaperArticleUrlAppend %><br>
    <%= form.text_field :newspaperArticleUrlAppend %>
    <% newspaper.errors.full_messages_for(:newspaperArticleUrlAppend).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
 
  <div>
    <%= form.submit %>
  </div>
<% end %>

